<template lang="pug">
v-container.px-2.px-sm-6.pt-0#home

  .mx-8(v-if='!mapIsVisibile')
    v-alert(type='error' :icon='mdiAlert') ¯\_(ツ)_/¯ Forbidden
  //- Map
  .mx-8(v-else)
    MapComponent.mt-4(
      :markerItems="places"
      :gp_mop_future_events="mapSettings.gp_mop_future_events"
      height="30rem" 
      :mapCenter="mapSettings.gp_mop_center && [ mapSettings.gp_mop_center.split(',')[0], mapSettings.gp_mop_center.split(',')[1] ] || [41.89, 12.48]"
      :zoom="Number(mapSettings.gp_mop_zoom) || 5 ")

</template>

<script>
import { mapState } from 'vuex'

export default {
  name: 'Map-of-places',
  components: { 
    [process.client && 'MapComponent']: () => import('@/components/MapComponent.vue')
  },
  data () {
    return {
      places: [],
      mapSettings: [],
      pluginData: []
    }
  },  middleware: 'setup',
  async fetch () {
    this.pluginData = await this.$axios.$get('plugin/Map%20of%20places/settings')
    this.mapSettings = this.pluginData.settings
    this.places = this.pluginData.places
  },
  head () {
    return {
      title: this.settings.title + ' - Map'
    }
  },
  computed: {
    ...mapState(['settings']),
    mapIsVisibile () {
      if (!this.mapSettings) { return false }
      else if (this.mapSettings.gp_mop_admin_only && ((this.$auth.user && !this.$auth.user.is_admin) || (!this.$auth.user))) {
        return false
      } 
      return true
    },
  }
}
</script>
