<template lang="pug">
client-only(placeholder='Loading...' )
  LMap(ref="leafletMap"
      id="leaflet-map"
      :style="{ 'height': height }"
      :zoom="zoom"
      :options="{attributionControl: false}"
      :center="center")
    LControlAttribution(position='bottomright' prefix="")
    LControl(position='topright' prefix="" v-if="gp_mop_future_events")
      div.px-2.py-1(style="background-color: #fff; border-radius: 1em")
        div
          span(class="map-legend" style="background-color: #2cad25")
          span(v-text="`Today events`" style="color: #000")
        div
          span(class="map-legend" style="background-color: #368bcd")
          span(v-text="`Future events`" style="color: #000")
        div
          span(class="map-legend" style="background-color: #7b7b7b")
          span(v-text="`Past events`" style="color: #000")
    LTileLayer(
        :url="url"
        :attribution="attribution")
    LMarker(v-if="markerItems" v-for="m in markerItems" :key='m.key' :value='m.value'
      :lat-lng="[m.latitude, m.longitude]"
      )
      LIcon(:className="(gp_mop_future_events && !m.hasFutureEvents && !m.hasTodayEvents) && `grey-marker` || ``" 
        :iconUrl="gp_mop_future_events && m.hasTodayEvents && `/marker-icon-green.png` || `/_nuxt/node_modules/leaflet/dist/images/marker-icon.png`"
        iconRetinaUrl= ""
        shadowUrl= ""
      )
      LPopup() 
        nuxt-link.text-decoration-none(v-text="m.name" :to='`/place/${m.name}`' )
        p(v-text="m.address")

</template>
<script>

import "leaflet/dist/leaflet.css"
import { LMap, LTileLayer, LMarker, LPopup, LControlAttribution, LControl, LIcon } from 'vue2-leaflet'

export default {
  components: {
    LMap,
    LTileLayer,
    LMarker,
    LPopup,
    LControlAttribution,
    LControl,
    LIcon
  },
  data ({ $store }) {
    return {
      url: $store.state.settings.tilelayer_provider || 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
      attribution: $store.state.settings.tilelayer_provider_attribution || "<a target=\"_blank\" href=\"http://osm.org/copyright\">OpenStreetMap</a> contributors",
    }
  },
  computed: {
    center () {
      if (this.mapCenter.length)
        return this.mapCenter
      else {
        this.place.latitude = isNaN(this.place.latitude) ? 0 : this.place.latitude
        this.place.longitude = isNaN(this.place.longitude) ? 0 : this.place.longitude
        return [this.place.latitude, this.place.longitude]
      }
    },
    marker () {
      return {
        address: this.place.address,
        coordinates: {lat: this.place.latitude, lon: this.place.longitude }
      }      
    }
  },
  props: {
    place: { type: Object, default: () => ({ latitude: 0, longitude: 0 }) },
    height: { type: String, default: '' },
    showMarker: { type: Boolean, default: true },
    mapCenter: { type: Array, default: () => ([]) },
    zoom: { type: Number, default: () => (6) },
    draggable: { type: Boolean, default: false },
    markerItems: { type: Array, default: () => ([]) },
    activeItems: { type: Array, default: () => ([]) },
    gp_mop_future_events: { type: Boolean, default: true }
  },
  mounted() {
    setTimeout(() => {
      if (this.$refs.leafletMap && this.$refs.leafletMap.mapObject ) {
        this.$refs.leafletMap.mapObject.invalidateSize();
      }
    }, 200);
  },
}
</script>

<style>
  #leaflet-map {
    height: 10rem;
    border-radius: .3rem;
    border: 1px solid #fff;
    z-index: 1;
  }

  .grey-marker {
    filter: grayscale(100%);
  }

  .map-legend {
    display: inline-block;
    width: .75em;
    height: .75em;
    border-radius: 1em;
    margin-right: .5em;
  }
</style>
